; Add platform-specific signing values in the Godot editor or CI secrets.
; Never commit keystores, provisioning profiles, or passwords here.

[preset.0]

name="Linux Desktop"
platform="Linux/X11"
runnable=true
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/woven-rampart-linux.x86_64"
patch_list=Array[String]([])
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

binary_format/architecture="x86_64"

[preset.1]

name="Android"
platform="Android"
runnable=true
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="build/**"
export_path="build/woven-rampart-android.apk"
patch_list=Array[String]([])
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.1.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=true
gradle_build/gradle_build_directory=""
gradle_build/android_source_template=""
gradle_build/compress_native_libraries=false
gradle_build/export_format=1
gradle_build/min_sdk=""
gradle_build/target_sdk=""
package/unique_name="com.handstar.bingowar"
package/name="Woven Rampart"
package/signed=true
package/version="0.1.1"
version/code=2
version/name="0.1.1"
architectures/arm64-v8a=true
architectures/armeabi-v7a=false
architectures/x86_64=false

[preset.2]

name="iOS"
platform="iOS"
runnable=true
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter="build/**"
export_path="build/woven-rampart-ios.zip"
patch_list=Array[String]([])
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.2.options]

application/name="Woven Rampart"
application/bundle_identifier="com.handstar.bingowar"
application/short_version="0.1.1"
application/version="2"
application/app_store_team_id="7XVUT3FTP2"
application/export_method_release="app-store"
application/code_sign_identity_release="iPhone Distribution: Hank Wang (7XVUT3FTP2)"
application/provisioning_profile_uuid_release="8176a746-07a4-47d7-be96-48f089bd6696"

[preset.3]

name="Linux Headless Match Server"
platform="Linux/X11"
runnable=false
dedicated_server=true
custom_features="server"
export_filter="all_resources"
include_filter="game_core/**,game_server/**,data/**"
exclude_filter="game_client/**"
export_path="build/woven-rampart-server.x86_64"
patch_list=Array[String]([])
encryption_include_filters=""
encryption_exclude_filters=""
encrypt_pck=false
encrypt_directory=false

[preset.3.options]

binary_format/architecture="x86_64"
